# 1. 目标芯片
CONFIG_IDF_TARGET="esp32s3"

# 2. Flash 设置（8MB）
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y

# 3. PSRAM
CONFIG_ESP32S3_PSRAM=y
CONFIG_ESP32S3_PSRAM_MODE_OCT=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y

# 4. LVG
CONFIG_LVGL_ENABLE=y

# 5. 分区表
CONFIG_PARTITION_TABLE_SINGLE_APP=y

# 6. 通用优化
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=160
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y

# 7. 外设
CONFIG_FATFS_VOLUME_COUNT=2
CONFIG_FATFS_LFN_HEAP=y
CONFIG_SDMMC_HOST_SUPPORTED=y
CONFIG_I2S_ENABLE=y

# 8. I2C 设备库默认引脚（与 AHT20 I2C 配置一致）
CONFIG_I2CDEV_DEFAULT_SDA_PIN=8
CONFIG_I2CDEV_DEFAULT_SCL_PIN=9

# 9. 音频（数字麦克风/喇叭）
CONFIG_I2S_STD_ENABLE=y
CONFIG_I2S_PDM_ENABLE=y